@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
     padding: 0;
     margin: 0;
     

 }

.logo-header {

    
        position: absolute;
        width: 167px;
        height: 44px;
        left: 161px;
        top: 15px;
}

.caixinha {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    width: 375px;
    height: 24px;
    left: 790px;
    top: 15px;
    
    opacity: 0.7;
    border: 1px solid #000000;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

nav {
    position: absolute;
    width: 1349px;
    height: 77px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    }


nav li    {

        display: inline;
        position: static;
        width: 500px;
        left: 150px;
        top: 70px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        
    
    
    
        color: #161616;
    
    
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 13px;

}

nav ul {

    position: absolute;
    top: 15px;
    left: 740px;

}


.parte-1 {
    position: absolute;
    width: 1349px;
    height: 950px;
    left: 0px;
    top: 77px;
    background: linear-gradient(180deg, #008D74 0%, #023F88 100%);
    border: 1px solid #000000;
    box-sizing: border-box;

}    

.item1 {

    border-radius: 15px;
    position: absolute;
    width: 864px;
    height: 494px;
    left: 252px;
    top: 100px;
    
    

}

.play {

    position: absolute;
    width: 130px;
    top: 293px ;
    height: 133px;
    right: 616px;

}



.texto1 {

        font-weight: 500;
        font-family: 'Inter';
        color: #FFFFFF;
        position: absolute;
        text-align: center;
        width: 664px;
        left: 367px;
        top: 615px;
     
        
}

.espressura {
    
    font-weight: 800;
}

.retangulo {
    position: absolute;
    width: 500px;
    height: 13px;
    left: 450px;
    top: 640px;
    background: #162861;
  
}

.retangulo2 {

    position: absolute;
    width: 530px;
    height: 13px;
    left: 440px;
    top: 680px;
    background: #162861;
}

.p1 {
    position: absolute;
    font-family: 'Inter';
    font-weight:300;
    font-size: 17px;
    line-height: 150%;
    width: 327px;
    left: 171px;
    top: 850px;
    color: #FFFFFF;
}

.cor-p1 {

    font-weight: bold;
    color: #fff000;
}


.item2 {

    position: absolute;
    border-radius: 8px;
    left: 880px;
    top: 1060px
}

.item3 {

    position: absolute;
    border-radius: 8px;
    left: 600px;
    top: 870px;

}

.p2 {
    
    position: absolute;
    font-family: "Inter";
    color: #161616;
    font-weight: 490;
    font-size: 20px;
    line-height: 30px;
    left: 240px;
    top: 1020px;

   
}

.p3 {
   
    position: absolute;
    font-family: "Inter";
    color: #161616;
    font-weight: 490;
    font-size: 20px;
    line-height: 30px;
    left: 240px;
    top: 1170px;
}

.fundo-2 {

    position: absolute;
    width: 1345px;
    height: 652px;
    left: 0px;
    top: 1479px;
    background: #0F8DD3;
}

.container {

    display: flex;
    position: absolute;
    width: 866px;
    height: 408px;
    left: 251px;
    top: 1646px;
    background: #FFFFFF;
    border-radius: 15px;

}

.parte-2 {

    
    position: absolute;
    font-family: "Inter";
    font-weight: 400;
    font-size: 40px;
    left: 430px;
    top: 1520px;
    color: #FFFFFF;
}

.item4 {

        position: absolute;
        border-radius:  15px 0px 0px 15px;
        left: 0px;
        top: 0px;
    

}

.p4 {

    position: absolute;
    font-family: "Inter";
    font-size: 24px;
    height: 118px;
    left: 480px;
    top: 30px;
    color: #161616;
    }

.meio-parte2 {

    position: absolute;
    font-family: "Inter";
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    width: 225px;
    height: 29px;
    left: 495px;
    top: 220px;   
    color: #000000;
}

.retangulo3 {

    position: absolute;
    width: 163.57px;
    height: 15px;
    left: 465px;
    top: 230px;
    background: #FFE900;
}

.p5 {

    position: absolute;
    font-family: "Inter";
    font-weight: normal;
    font-size: 17px;
    line-height: 150%;
    left: 470px;
    top: 280px;
    color: #161616;
}

.finalf {
    position: absolute;
    font-family: "Lato";
    left: 8.2%;
    right: 8.35%;
    top: 350%;
    border: 1px solid rgba(211, 220, 229, 1)

}

.finalf1 {


    position: absolute;
    font-family: "Lato";
    text-align: center;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    width: 950px;
    height: 77px;
    top: 2240px;
    background: #FFFFFF;
    text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.37);
}

.finalf2 {

    position: absolute;
    font-family: "Lato";
    font-size: 15px;
    line-height: 18px;
    width: 320px;
    height: 18px;
    top: 2240px ;
    right: 180px;
    background: #FFFFFF;
    color: #000000;
}


.finalf3 {

    position: absolute;
    font-family: "Lato";
    font-size: 15px;
    line-height: 18px;
    width: 320px;
    height: 18px;
    top: 2240px ;
    right: 0px;
    background: #FFFFFF;
    color: #161616;


}

